@page {
  size: A4;
  margin: 2cm;

  /* page numbers */
  @bottom-center {
    content: counter(page);
    font-family: serif;
    font-size: 0.7em;
  }
}

body {
  font-family: serif;
  font-size: 0.7em;
  line-height: 1.8em;
}

/* HTML elements */
a {
   color: #000000;
   text-decoration: none;
}
h1, h2, h3 {
   margin-top: 1.5em;
}
sup {
	font-size: 0.6rem;
}

/* CSS classes */
.d-print-none {
  display: none;
}
.edition-section {
  page-break-before: always;
}
.list-unstyled {
  list-style: none;    
}
.text-decoration-none {
  text-decoration: none;
}

/* workaround for weasyprint not supporting <li value=""> */
ol > li::marker {
  content: attr(value) ". ";
}
li > a.text-reset {
  visibility: hidden;
}

.hanging-indent {
	padding-left: 2em;
	text-indent: -2em;
}

.float-end {
   float: right;
}
