<div class="container py-5 px-3 mb-5">
	<h1 class="h2 fw-light">
		<a href="./" class="text-reset text-decoration-none">
		<strong>Dicuil, <i>Epistula censuum</i></strong>
		
		</a>
	</h1>
	<div class="fw-light">
		Christian G. Schweizer (ed.), <i>Dicuil: Epistula censuum</i>, in <i>Armarium</i> (2024),
		<a class="text-reset" 
		href="http://armarium.universityofgalway.ie/dicuil-epistula">http://armarium.universityofgalway.ie/dicuil-epistula</a>
	</div>
	<div class="mt-2">
		DOI: <a href="https://doi.org/0.00000/dicuil-epistula" class="fw-light text-reset">0.000/dicuil-epistula</a>
	</div>

	<form action="index.php" method="get" id="formTOC" class="mt-3 col-lg-6">
		<div class="form-floating">
			<select name="sec" id="selectTOC" class="form-select form-select-lg bg-light" aria-label="Select section">
				<option>Introduction</option>
				<option value="01">Section 1</option>
				<option value="02">Section 2</option>
				<option value="03">Section 3</option>
				<option value="04">Section 4</option>
				<option value="05">Section 5</option>
				<option value="06">Section 6</option>
			</select>
			<label for="selectTOC" class="small">Current section</label>
		</div>
	</form>
</div>
